<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="준엽이의 항해블로그">
    <meta property="og:description" content="프로젝트 진행시 어려웠던 부분을 기록한 저널블로그입니다.">
    <meta property="og:image" content="images/Hamburg.png">

<!--    <link rel="stylesheet" href="../static/css/style.css" type = "text/css">-->
    <link rel="stylesheet" href="/css/style.css">
<!--    <script src="../static/js/basic.js"></script>-->

    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>️준엽이의 항해 블로그</title>
<!--    <link rel="shortcut icon" href="/images/favicon.png">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <!--    <script src="../static/basic.js"></script>-->
    <script src="/js/basic.js"></script>
</head>

<body class="background">


    <div class="wrap">
        <!--페이지 제목과 해당페이지 기능 안내-->
        <div class="header">
            <h2>⛵️나만의 항해 블로그⛵</h2>
            <br>
            <p class="sulmyung">
                전체 게시글 목록 조회 페이지
            </p>
        </div>

        <div class="modal_container">

            <!-- Trigger the modal with a button -->
<!--            <button class="btn btn-info btn-lg" id="myBtn">글 작성하기</button>-->
            <div class = check_user>
                <div th:if="!${username}">
                    <button class="link-signup btn btn-info btn-lg" onclick="window.location.href='/api/login'">로그인 / 회원가입</button>
                </div>
                <div th:if="${username}">
                    <div th:text="${username}" class="fas fa-sign-out-alt">님 안녕하세요. 글을 남기실 수 있습니다.</div>
                    <button type="button" class="btn btn-info btn-lg" id="myBtn">글 작성하기</button>
                </div>

            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">글 작성하기</h4>
                        </div>
                        <div class="modal-body card">
                            <!--<p>게시글을 작성해주세요.</p>-->
                            <div class="mb-3">
                                <label for="title" class="form-label">게시글 제목</label>
                                <input type="email" class="form-control" id="title" placeholder="제목을 입력해주세요">
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">작성자 이름</label>
                                <div th:if="${username}"><div id="username" th:text="${username}" th:value="${username}"></div></div>
<!--타임리프로 값을 채워서 이를 .text()로 넣으려 하니 디스패쳐서블릿 에러 발생. not null이 와야 하나 과정중에 null이거나 transient value로 인식되어서 생기는 500 에-->
                                <!--                                <input type="text" class="form-control" id="username" placeholder="이름을 입력하세요">-->
                            </div>
                            <div class="mb-3">
                                <label for="contents" class="form-label">게시글 작성하기</label>
                                <textarea class="form-control" id="contents" placeholder="내용을 작성해주세요" rows="3"></textarea>
                            </div>

                                <button type="button" class="btn btn-info" id="completeBtn" onclick="writeArticle()">
                                    <div>
                                        작성완료 <img src="/images/writing.png" class="icon-write" alt="" >
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    <!--<div class="area-write">
        <input type="text" placeholder="게시글의 제목을 입력하세요" name="title" id="title">
        <textarea class="field" placeholder="공유하고 싶은 소식을 입력해주세요" name="contents" id="contents" cols="30"
                  rows="10"></textarea>

        <img src="images/send.png" alt="" onclick="writePost()">
    </div>-->
    <div class="list">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td class="index">#</td>
                    <td class="title">제목</td>
                    <td class="username">작성자</td>
                    <td class="date">작성한 시간</td>
                </tr>
            </thead>
            <tbody id="article-infos">
                <tr>
                    <td class="index">1</td>
                    <td class="title">테스트1</td>
                    <td class="username">이름1</td>
                    <td class="date">시간1</td>
                </tr>
                <tr>
                    <td class="index">2</td>
                    <td class="title">테스트2</td>
                    <td class="username">이름2</td>
                    <td class="date">시간2</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>